<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <client>
            <endpoint address="http://api.microsofttranslator.com/v2/Soap.svc" binding="basicHttpBinding" contract="MicrosoftTranslator.LanguageService"/>
        </client>
    </system.serviceModel>
    <system.net>
        <defaultProxy useDefaultCredentials="true">
            <proxy autoDetect="True"/>
        </defaultProxy>
    </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ResEx.Properties.Settings>
            <setting name="BaseCommentColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalCommentColumnVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeViewVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PathSeparator" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="HideLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateCheckLast" serializeAs="String">
                <value>2007-03-16</value>
            </setting>
            <setting name="UpdateCheckDaysInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RecentFilesCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HideVSFormItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlugInsInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="HideEmpty" serializeAs="String">
                <value>False</value>
            </setting>
        </ResEx.Properties.Settings>
    </userSettings>
</configuration>
