<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://api.microsofttranslator.com/v2/Soap.svc" binding="basicHttpBinding" contract="MicrosoftTranslator.LanguageService"/>
        </client>
    </system.serviceModel>
    <system.net>
        <defaultProxy useDefaultCredentials="true">
            <proxy autoDetect="True"/>
        </defaultProxy>
    </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
